/******************** GLOBAL ********************/
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

@font-face {
  font-family: "Magnolia";
  src:
    url(../font/MagnoliaScript.otf);
}

@font-face {
  font-family: "Philosopher";
  src:
    url(../font/Philosopher-Regular.ttf);
}

body{
    text-align: center;
    background-image: url("../images/arbre.png");
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
}

/******************** HEADER ********************/
header{
    width: 100vw;
}

/******************** MAIN ********************/
main{
    width: 90vw;
}

section{
    margin: 2.5vh;
    font-family: Philosopher;
    color: rgb(18, 67, 20);
    font-size: 2rem;
    h2{
        font-size: 3rem;
        margin: 5vh 0 2.5vh 0;
    }
}

#aPropos{

    background-color: rgba(211, 255, 203, 0.75);
    border: 1px solid rgba(211, 255, 203);
    border-radius: 2.5%;
    padding: 2.5vh;
    line-height: 2;
}

#contact{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    button{
        color: rgb(18, 67, 20);
        min-width: 200px;
        padding: 10px 20px; 
        border: none;
        font-family: Magnolia;
        font-size: 1.5rem;
        background-color: rgba(211, 255, 203, 0.5);
        border: 1px solid rgba(211, 255, 203);
        border-radius: 10px;
        &:hover{
            font-weight: bold;
            background-color: rgba(211, 255, 203, 0.75);
            box-shadow: rgb(18, 67, 20, 0.25) 1.95px 1.95px 2.6px;
        }
        &#email{
        }
        &#linkedin{
        }
        &#behance{
        }
        &#instagram{
        }
    }
}

/******************** FOOTER ********************/
footer{

}

/******************** TABLETTE ********************/
@media screen and (min-width: 800px) {
    main{
        width: 95vw;
    }
    section{
        color: rgb(18, 51, 67);
    }
    #aPropos{
        background-color: rgba(203, 249, 255, 0.75);
        color: rgb(18, 51, 67);
        border: 1px solid rgba(203, 249, 255);
        border-radius: 0;
    }
    #contact {
        width: 90vw;
        flex-direction: row;
        flex-wrap: wrap;
        button{
            background-color: rgba(203, 249, 255, 0.5);
            border: 1px solid rgba(203, 249, 255);
            color: rgb(18, 51, 67);
            &:hover{
                background-color: rgba(203, 249, 255, 0.75);
                box-shadow: rgb(18, 51, 67, 0.25) 1.95px 1.95px 2.6px;
            }
        }
    }
}

/******************** BUREAU ********************/
@media screen and (min-width: 1200px) {
    section{
        color: rgb(44, 18, 67);
        h2{
            font-size: 2rem;
        }
    }
    #aPropos{
        background-color: rgba(213, 203, 255, 0.75);
        color: rgb(44, 18, 67);
        border: 1px solid rgba(213, 203, 255);
        font-size: 1.5rem;
    }
    #contact{
        flex-wrap:nowrap;
            button{
                background-color: rgba(213, 203, 255, 0.5);
                border: 1px solid rgba(213, 203, 255);
                color: rgb(44, 18, 67);
                &:hover{
                    background-color: rgba(213, 203, 255, 0.75);
                    box-shadow: rgb(44, 18, 67, 0.25) 1.95px 1.95px 2.6px;
                } 
            }
        }
}

/******************** GRAND ********************/
@media screen and (min-width: 1920px) {
    section{
        color: rgb(67, 18, 44);
    }
    #aPropos{
        background-color: rgba(255, 203, 239, 0.75);
        color: rgb(67, 18, 44);
        border: 1px solid rgba(255, 203, 239);
    }
    #contact button{
        background-color: rgba(255, 203, 239, 0.5);
        border: 1px solid rgba(255, 203, 239);
        &:hover{
            background-color: rgba(255, 203, 239, 0.75);
            box-shadow: rgb(67, 18, 44, 0.25) 1.95px 1.95px 2.6px;
        } 
    }
}