/******************** GLOBAL ********************/
html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body{
    text-align: center;
}


/******************** HEADER ********************/
header{
    margin: 40px auto;
}


/******************** MAIN ********************/
main{

}
#contact{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    button{
        width: 250px;
        height: 50px;
        border-radius: 5px;
        font-weight: bold;
        &:hover{
            box-shadow: rgba(0, 0, 0, 0.25) 1.95px 1.95px 2.6px;
        }
        &#email{
            background-color: #7fd895;
        }
        &#linkedin{
            background-color: #0e76a8 ;
        }
        &#behance{
            background-color: #053eff;
        }
        &#instagram{
            background-color: #d981ff;
        }
    }
}

/******************** FOOTER ********************/
footer{

}