/******************** GLOBAL ********************/
html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body{
    text-align: center;
    background-image: url("/ressources/images/arbre.png");
    background-color: rgba(250, 250, 250, 0.5);
    background-blend-mode: lighten;
}


/******************** HEADER ********************/
header{
    width: 100%
}

/******************** MAIN ********************/
main{

}

#aPropos{
    width: 80vw;
    margin-bottom: 5%;
}
#contact{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    button{
        width: 250px;
        height: 50px;
        border-radius: 10px;
        border: none;
        font-weight: bold;
        color: black;
        &:hover{
            box-shadow: rgba(0, 0, 0, 0.25) 1.95px 1.95px 2.6px;
        }
        &#email{
            background-color: #d9ffda;
        }
        &#linkedin{
            background-color: #bdeaff ;
        }
        &#behance{
            background-color: #c0ceff;
        }
        &#instagram{
            background-color: #ffd1fd;
        }
    }
}

/******************** FOOTER ********************/
footer{

}

/******************** GRAND ********************/
@media screen and (min-width: 1920px) {

}

/******************** BUREAU ********************/
@media screen and (min-width: 1200px) {
    #contact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }
    
}
/******************** TABLETTE ********************/
@media screen and (min-width: 800px) {
    
}